{namespace newscat = GeorgRinger\NewsCategoryfilter\ViewHelpers}
{namespace n=GeorgRinger\News\ViewHelpers}

<div class="pure-g">
    <div class="pure-u-1">
        <f:form name="filter" object="{filter}" class="pure-form">
            <f:form.select property="category1" id="category1"
                           options="{newscat:categoryFilter(news:news,categoryParent:settings.category1)}"
                           prependOptionLabel="{f:if(condition: settings.categoryFilterName1, then: settings.categoryFilterName1)}" prependOptionValue="" class="form-control"
                           additionalAttributes="{onchange: 'this.form.submit()'}"/>
            <f:form.select property="category2" id="category2"
                           options="{newscat:categoryFilter(news:news,categoryParent:settings.category2)}"
                           prependOptionLabel="{f:if(condition: settings.categoryFilterName2, then: settings.categoryFilterName2)}" prependOptionValue="" class="form-control"
                           additionalAttributes="{onchange: 'this.form.submit()'}"/>
            <f:link.page pageUid="{settings.backPid}" class="pure-button pure-button-primary">
                {f:translate(key: 'news_categoryfilter.filter_reset', default: 'Auswahl zurücksetzen', extensionName:'news_categoryfilter')}
            </f:link.page>
        </f:form>
    </div>
</div>

<f:if condition="{news}">
    <f:then>
        <div class="pure-g">
            <f:for each="{news}" as="newsItem">
                <div class="pure-u-1">
                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">{newsItem.title}</n:link>
                </div>
            </f:for>
        </div>
    </f:then>
    <f:else>
        <div class="alert alert-danger">No news found</div>
    </f:else>
</f:if>
